<div class="container">
  <h3 class='text-center'>QuotesApp</h3>
  <div class="row pt-5">
    <div class="col-md-6">
      <div *ngFor='let quote of quoteEntry;let i = index'>
        <h4> Quote  by {{quote.author}}</h4>
        <app-quote-message *ngIf='quote.showDetails'  [message]='quote'></app-quote-message>
        <button (click) = 'toggleDetail(i)'>Show Quotes</button>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
  </div>
</div>