<div class="container">
  <div class="header">
    <h3 class='text-center'>QuotesApp</h3>
    <p>Welcome to QuoteApp where you can view and share quotes to brighten other people's life and also brighten your day.<br> Share positive energy to restore  hope</p>
  </div>
  <div class="row pt-5">
    <div class="col-md-6">
      <div class='card pb-3' *ngFor='let quote of quoteEntry;let i = index'>
          <div class="card-body">
            <h6><span class="Name">Published by {{quote.submittedName}}</span><span class="date">{{quote.date|date}}</span></h6>
            <app-quote-message *ngIf='quote.showDetails'  [message]='quote'  (removeQuote)='removeItem($event,i)'></app-quote-message>
            <button (click) = 'toggleDetail(i)' class="btn btn-dark">Show Quotes</button>
          </div>
        </div>
    </div>
    <div class="col-md-6 pt-5">
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
  </div>
</div>